@model BookStore.ViewModel.BookGenreViewModel

@{
    ViewData["Title"] = "Index";
}


    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        Author: <input type="text" asp-for="AuthorSearchString" />
        <input type="submit" value="Filter" />
    </p>
    </form>
    <h2 style="text-align: center; font-family: 'Helvetica', sans-serif; font-weight: bold; color: lightcoral; border-bottom: 2px solid lightcoral;">Best Sellers</h2>
    <table style="width: 100%; table-layout: fixed; border-collapse: collapse;">
    <thead style="background-color: lightcoral; color:white;">
            <tr>
                <th style="margin-left: 3px; padding:2px;">
                    @Html.DisplayNameFor(model => model.Books[0].Title)
                </th>
                <th style="margin-left: 3px; padding:2px;">
                    @Html.DisplayNameFor(model => model.Books[0].YearPublished)
                </th>
                <th style="margin-left: 3px; padding:2px;">
                    @Html.DisplayNameFor(model => model.Books[0].NumPages)
                </th>
                <th style ="margin-left: 3px; padding:2px;">
                    @Html.DisplayNameFor(model => model.Books[0].Description)
                </th>
                <th style="margin-left: 3px; padding:2px;">
                    @Html.DisplayNameFor(model => model.Books[0].Publisher)
                </th>
            <th style="margin-left: 3px; padding:2px;">
                    @Html.DisplayNameFor(model => model.Books[0].Author)
                </th>
            <th style="margin-left: 3px; padding:2px;">
                    @Html.DisplayNameFor(model => model.Reviews)
                </th>
            <th style="margin-left: 3px; padding:2px;">
                Genre
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
            <tr heigh:500px style="font-family:'Times New Roman', Times, serif; font-size: 9px; border-bottom: 2px solid lightcoral; margin-left:3px; padding: 2px; text-align:left;">
                    <td>
                        <h5 style="font-size: 20px; font-family: 'Times New Roman', serif; font-weight: bold; text-decoration: underline;">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <img style="height: 200px; width: 130px;" src="@Html.DisplayFor(modelItem => item.FrontPage)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearPublished)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumPages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @if (item.Author != null)
                        {
                            @Html.DisplayFor(modelItem => item.Author.FullName)
                        }

                    </td>
                    <td>
                        @item.AverageRating()
                    </td>
                    <td>
                        @foreach (var genre in item.BookGenres)
                        {
                            <a asp-controller="Actors" asp-action="Details" asp-route-id="@genre.GenreId">
                                @genre.Genre.GenreName
                            </a> <br />
                        }
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.DownloadUrl)">Download here...</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
